<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/static/style.css" rel="stylesheet" id="css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
  </head>
  <body>


    <div class="form">
        <div class="mail"></div>
        <h1>Mail form</h1>
        <form action="submit" method="POST">
            <label for="name" class="form-label"></label>
            <input type="text" placeholder="Your Name" id="name" name = "name" aria-describedby="name">
          
            <label for="email" class="form-label"></label>
          <input type="email" placeholder="E-mail" id = "email" name = "email" />
          
          <!-- <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea> -->
          
          <button type = "submit" class="submit">Send</button>
          
        </form>
      </div>
      
      <div class="ok_message">
      <span>We'll answer you soon!</span></div>

      <script src="/static/logic.js"></script>
  </body>
</html>`