* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    /*if not added then it will generate a horizontal scroll bar */
    box-sizing: border-box;
}

/* ----------------------------------- */
.page-one {
    height: 100vh;
    width: 100vw;
    /* background-image: url(images/bg.jpg); */
    background-size: cover;
    background-color: black;
}

.navbar {
    z-index: 100;
    position: fixed;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 7vh;
    /* background-color: red; */
}

.navbar .homeBtn {
    color: white;
    font-size: 4vh;
    margin-left: 2vh;
    margin-top: 0.5vh;
}

.navbar .menuOpenBtn {
    color: white;
    font-size: 4vh;
    margin-right: 2vh;
    margin-top: 0.5vh;
}

.navbar .menu {
    transition: 0.8s;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    right: 0;
    top: 0;
    height: 0vh;
    width: 100vw;
    /* background-color: blue; */

}

.menu .menuCloseBtn {
    color: white;
    height: 10vh;
    font-size: 5vh;
    padding-left: 3vh;
    padding-top: 3vh;
    background-color: rgb(0, 0, 0);
}

.menu ul {
    height: 90vh;
    background-color: rgb(21, 97, 81);
    padding-top: 5vh;
    padding-left: 3vh;

}

.menu ul li {
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 4vh;
    list-style: none;
    line-height: 7vh;
}

.area1 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 7vh;
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-color: blue; */
}

.area1 .me {
    z-index: 10;
    position: relative;
    top: 8vh;
    margin-bottom: 15vh;
    width: 70vw;
    height: 75vh;
    /* background-color: black; */
}

.me .myName {
    color: white;
    font-family: 'Satisfy', cursive;
    height: 30%;
    width: 100%;
    text-align: center;
    font-size: 4vh;
    /* padding-top: 4%; */
    /* background-color: red; */
}

.me .quote {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Satisfy', cursive;
    position: relative;
    font-size: 3vh;
    width: 100%;
    height: 35%;
    /* background-color: orange; */
}

.me .nextBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    /* background-color: purple; */
}

.me .nextBtn .nextQuoteBtn {
    color: white;
    transition: 0.1s;
    font-family: 'Sofia Sans', sans-serif;
    border: 2px solid white;
    background-color: rgb(32, 139, 127);
    font-weight: 20px;
    font-size: 2vh;
    border-radius: 4vh;
    width: 6vh;
    height: 6vh;
}

.me .tags {
    position: relative;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    padding-top: 3vh;
    text-align: center;
    /* font-size: 3.5vh; */
    /* background-color: red; */
    width: 100%;
    height: 20%
}

.tags .box {
    /* z-index: 5; */
    position: relative;
    margin-left: 10vw;
    height: 60%;
    width: 75%;
    overflow: hidden;
    /* background-color: green; */
}

.tags .box ul {
    animation: slide;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3);
    position: absolute;
    top: 0;

    /* background-color: yellow; */
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.tags ul li {
    /* line-height: 10vh; */
    margin-bottom: 4.2vh;
    text-align: center;
    position: relative;
    font-size: 5.5vh;
    list-style: none;
}

.tags ul li::after {
    animation: type;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: steps(10);
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid rgb(0, 0, 0);
    background-color: rgb(40, 158, 169);

}

@keyframes type {
    from {
        left: 0;
    }

    to {
        left: 55vw;
    }
}

.wave {
    background-color: rgb(40, 158, 169);
    /* left: -20vw; */
    animation: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    max-width: none;
    border-radius: 45%;
    position: absolute;
    height: 200vw;
}

.wave1 {
    width: 205vw;
    animation-duration: 5s;
    bottom: -75vh;
    /* opacity: 0.8; */
}

.wave2 {
    width: 195vw;
    animation-duration: 9s;
    bottom: -70vh;
    opacity: 0.6;
}

.wave3 {
    width: 210vw;
    animation-duration: 7s;
    bottom: -65vh;
    opacity: 0.4;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ------------------------------------------------------------------ */
.page-two {
    font-family: 'Sofia Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    /* background-color: #032118; */
}

.area2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(40, 158, 169), rgb(26, 98, 105));
}

.area2 .bigbox {
    position: relative;
    /* overflow: hidden; */
    height: 80%;
    width: 80%;
    /* background-color: red; */
}

.area2 .bigbox .hi_iam {
    position: relative;
    display: flex;
    width: 100%;
    height: 11%;
    /* overflow: hidden; */
    /* background-color: orange; */
}

.hi_iam .hi {
    opacity: 0;
    transition: 2s;
    transform: translateY(60px);
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: end;
    padding-right: 30px;
    /* background-color: red; */
    color: white;
    font-size: 10vh;
    width: 40%;
    height: 100%;
}

.hi_iam .iam {

    opacity: 0;
    transition: 2s;
    transform: translateY(60px);
    height: 100%;
    width: 60%;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    /* background-color: green; */
}

.hi_iam .iam .i {
    /* background-color: blue; */
    color: white;
    height: 50%;
    padding-top: 0.5vh;
    padding-left: 2vh;
    font-size: 3vh;
}

.hi_iam .iam .am {
    /* background-color: rgb(246, 135, 0); */
    color: white;
    height: 50%;
    /* padding-bottom: 7vh; */
    font-size: 3vh;
}

.area2 .bigbox .priyanshu {
    color: white;
    opacity: 0;
    transition: 2s;
    transform: translateY(60px);
    display: flex;
    justify-content: center;
    font-size: 6vh;
    /* background-color: black; */
    width: 100%;
    height: 15%;
}

.area2 .bigbox .content {
    border: 3px solid white;
    border-radius: 3vh;
    transition: 2s;
    transform: translateY(60px);
    opacity: 0;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    color: white;
    text-align: center;
    width: 100%;
    height: 74%;
    padding: 0 4vh;
}

/* ---------------------------------------------- */
.page-three {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(26, 98, 105), rgb(17, 63, 67));
}

.area3 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100%;
}

.bigbox1 {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 90%;
    /* background-color: red; */
}

.mySkills {
    transition: 2s;
    position: relateive;
    transform: translateY(60px);
    opacity: 0;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    height: 10%;
    width: 100%;
    padding-top: 2vh;
    font-size: 7vh;
    text-align: center;
    /* background-color: orange; */
}

.langs {
    transition: 2s;
    height: 95%;
    width: 100%;
    opacity: 0;
    transform: translateX(-50px);
    /* background-color: green; */
}

.langs ul {
    height: 100%;
    width: 100%;
    padding-top: 5vh;
    padding-left: 3vh;
    /* background-color: rgb(117, 117, 36); */
}

.langs ul li {
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    padding-top: 2vh;
    list-style: none;
    display: block;
    font-size: 5vh;
}

.bar {
    transition: 4s;
    display: block;
    margin-top: 1vh;
    width: 0;
    height: 1vh;
    background-color: white;
}

/* ----------------------------------------------------------------- */
.page-four {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.area4 {
    margin-top: 5vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(213, 189, 48); */
    width: 80%;
    height: 90vh;
}

.resume {
    color: goldenrod;
    font-family: 'Sofia Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    font-size: 20px;
    /* background-color: red; */
}

.resCont {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: rgb(162, 123, 23);
    /* background-size: contain; */
    width: 100%;
    height: 61%;
}

.resPic {
    background-image: url(/resume/resume.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    height: 98%;
}

.neon {
    position: absolute;
}

.neonup {
    animation: slideright;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 0;
    left: -10vh;
    height: 5px;
    width: 10vh;
    background-image: linear-gradient(to right,transparent, yellow);
}

@keyframes slideright {
    0% {
        left: -10vh;
    }

    40%,
    100% {
        /* filter: hue-rotate(360deg); */
        left: 40vh;
    }
}

.neonright {
    animation: slidedown;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: -10vh;
    right: 0;
    height: 10vh;
    width: 5px;
    background-image: linear-gradient(to bottom,transparent, yellow);
}


@keyframes slidedown {

    0%,
    32% {
        top: -10vh;
    }

    100% {
        /* filter: hue-rotate(360deg); */
        top: 58.5vh;
    }
}

.neondown {
    animation: slideleft;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    bottom: 0;
    right: -10vh;
    height: 5px;
    width: 10vh;
    background-image: linear-gradient(to left,transparent, yellow);
}

@keyframes slideleft {
    0% {
        right: -10vh;
    }

    40%,
    100% {
        /* filter: hue-rotate(360deg); */
        right: 40vh;
    }
}

.neonleft {
    animation: slideup;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    bottom: -10vh;
    left: 0;
    height: 10vh;
    width: 5px;
    background-image: linear-gradient(to top,transparent, yellow);
}

@keyframes slideup {

    0%,
    32% {
        bottom: -10vh;
    }

    100% {
        /* filter: hue-rotate(360deg); */
        bottom: 58.5vh;
    }
}

.downbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    margin-top: 5vh;
    /* background-color: blue; */
    height: 10%;
    width: 100%;
}

.downbtn a {
    border-radius: 10px;
    padding-bottom: 2px;
    width: 60%;
    border: 3px solid goldenrod;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: goldenrod;
}